{% include 'include/header.html' %}
<!-- 컨텐츠 출력 공간 -->
<div class="my-3 mx-1"></div>
<div class="d-flex justify-content-center">
  <div class="pt-2 flex-grow-1">
    <h3 class="fw-bold m-0">[태그 이름] 게시물</h3>
  </div>
</div>

<div class="bd-b-1 my-3 mx-1"></div>

<select class="form-select w-25" aria-label="Default select example">
  <option>정렬</option>
  <option value="1" selected>인기순</option>
  <option value="2">최신순</option>
  <option value="3">오래된순</option>
</select>

<div class="bd-b-1 my-3 mx-1"></div>

<div class="flex-grow p-2">
  <div class="d-flex align-items-center">
    <div class="me-2">
      <img class="contentBorder" src="{{ url_for('static', filename='img/cat.png') }}" width="60px" height="60px">
    </div>
    <div class="me-auto text-start fs-5">
      <div class="fw-bold">test01</div>
      <span class="text-muted small">25.06.02.</span>
    </div>
  </div>

  <div class="my-2 fs-4">
    <div class="fw-bold my-2">
      테스트용 게시물 제목입니다.
    </div>
    <div>
      테스트용 내용입니다.
    </div>
  </div>

  <div class="vote-buttons-group">
    <button class="vote-btn-arrow" type="button">⬆</button>
    <span class="vote-count">17</span>
    <button class="vote-btn-arrow" type="button">⬇</button>
  </div>
</div>
<div class="bd-b-1 my-3 mx-1"></div>

<div class="flex-grow p-2">
  <div class="d-flex align-items-center">
    <div class="me-2">
      <img class="contentBorder" src="{{ url_for('static', filename='img/cat.png') }}" width="60px" height="60px">
    </div>
    <div class="me-auto text-start fs-5">
      <div class="fw-bold">test01</div>
      <span class="text-muted small">25.06.01.</span>
    </div>
  </div>

  <div class="my-2 fs-4">
    <div class="fw-bold my-2">
      테스트용 게시물 제목입니다.
    </div>
    <div class="text-center my-2">
      <img src="{{ url_for('static', filename='img/logo.png') }}" class="rounded" alt="이미지/미디어 컨텐츠 조회 실패">
    </div>
  </div>

  <div class="vote-buttons-group">
    <button class="vote-btn-arrow" type="button">⬆</button>
    <span class="vote-count">11</span>
    <button class="vote-btn-arrow" type="button">⬇</button>
  </div>
</div>
<div class="bd-b-1 my-3 mx-1"></div>

<div class="flex-grow p-2">
  <div class="d-flex align-items-center">
    <div class="me-2">
      <img class="contentBorder" src="{{ url_for('static', filename='img/cat.png') }}" width="60px" height="60px">
    </div>
    <div class="me-auto text-start fs-5">
      <div class="fw-bold">test02</div>
      <span class="text-muted small">25.05.30.</span>
    </div>
  </div>

  <div class="my-2 fs-4">
    <div class="fw-bold my-2">
      추가 게시물 제목입니다.
    </div>
    <div>
      스크롤 테스트를 위한 내용입니다.
    </div>
  </div>

  <div class="vote-buttons-group">
    <button class="vote-btn-arrow" type="button">⬆</button>
    <span class="vote-count">5</span>
    <button class="vote-btn-arrow" type="button">⬇</button>
  </div>
</div>
<div class="bd-b-1 my-3 mx-1"></div>

<div class="flex-grow p-2">
  <div class="d-flex align-items-center">
    <div class="me-2">
      <img class="contentBorder" src="{{ url_for('static', filename='img/cat.png') }}" width="60px" height="60px">
    </div>
    <div class="me-auto text-start fs-5">
      <div class="fw-bold">test03</div>
      <span class="text-muted small">25.05.29.</span>
    </div>
  </div>

  <div class="my-2 fs-4">
    <div class="fw-bold my-2">
      또 다른 게시물 제목.
    </div>
    <div>
      푸터가 잘 보이는지 확인해봅시다.
    </div>
  </div>

  <div class="vote-buttons-group">
    <button class="vote-btn-arrow" type="button">⬆</button>
    <span class="vote-count">20</span>
    <button class="vote-btn-arrow" type="button">⬇</button>
  </div>
</div>
<div class="bd-b-1 my-3 mx-1"></div>

<div class="flex-grow p-2">
  <div class="d-flex align-items-center">
    <div class="me-2">
      <img class="contentBorder" src="{{ url_for('static', filename='img/cat.png') }}" width="60px" height="60px">
    </div>
    <div class="me-auto text-start fs-5">
      <div class="fw-bold">test04</div>
      <span class="text-muted small">25.05.28.</span>
    </div>
  </div>

  <div class="my-2 fs-4">
    <div class="fw-bold my-2">
      마지막 스크롤 테스트 게시물
    </div>
    <div>
      정말 마지막입니다.
    </div>
  </div>
  <div class="vote-buttons-group">
    <button class="vote-btn-arrow" type="button">⬆</button>
    <span class="vote-count">2</span>
    <button class="vote-btn-arrow" type="button">⬇</button>
  </div>
</div>
<div class="bd-b-1 my-3 mx-1"></div>

<!-- *************** -->
{% include 'include/tail.html' %}